@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Fraunces:ital,opsz,wght@0,9..144,300..900;1,9..144,300..900&display=swap");

@import "tailwindcss";

/* ==========================
   CHADI International Theme
========================== */

@theme {
  --font-heading: "Fraunces", serif;
  --font-serif: "Fraunces", serif;
  --font-body: "Inter", sans-serif;

  --color-chadi-green: #347928;
  --color-chadi-lightgreen: #C0EBA6;
  --color-chadi-cream: #FFFBE6;
  --color-chadi-gold: #FCCD2A;
  --color-chadi-ink: #172912;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background: #FFFBE6;
  color: var(--color-chadi-ink);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-optical-sizing: auto;
}